<h1>Restaurant</h1>

<div>
  <h1> <%= @restaurant.name %>  </h1>


  <div class="card w-50 mb-3">
    <div class="card-body bg-info-subtle">
      <%= @restaurant.address %>
    </div>
  </div>

  <div>
    <p>
    </p>

  </div>

  </div>


<%= link_to 'Back to list', restaurants_path %>
